.playlist-page {
  &__toolbar {
    .home-icon {
      margin-right: 10px;
      cursor: pointer;
    }
    .search-input {
      position: absolute;
      right: 10px;
      max-width: 40%;
      mat-form-field {
        width: 100%
      };
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__card {
      max-width: 300px;
      margin: 15px;
      &__header {
        height: 15%;
      }
      &__content {
        height: 85%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
